@import url('generalStyles.css');



body {
    position: relative;
    margin: var(--header-ancho) 0 0 0;
    padding: 0 1rem;
    transition: .5s;
    background-color: var(--color-graystandar) !important;
}

.header {
    width: 100%;
    height: var(--header-ancho);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
/*    background-color: var(--color-graystandar);
*/    
    background-color:  var(--secondary-blue);
    z-index: 100;
    transition: .5s
}

.header_toggle {
    color: var(--main-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.form-outline{
	position: relative;
}

.bg-button{
	position: absolute !important;
	right: 0;
	top: 0;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-largo);
    height: 100vh;
    background-color: var(--main-color);
    background-image: url('../img/ondaArriba.png');
    background-size: 180% calc(var(--header-ancho) + 28rem);
    background-position-x: -20px;
    background-repeat: no-repeat;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: 100;
}

.form-control{
    box-shadow: none !important;
}

.form-control:focus{
    border: 2px solid var(--main-color) !important;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/*.nav_logo,*/
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_link {
    position: relative;
    color: var(--color-graystandar);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.link_active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 6px;
    height: 50px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: var(--secondary-blue);
}

.link_active{
	color: var(--secondary-blue);
    background-color: #334252;
    border-radius: 0 24px 24px 0;
    transition: .5s;
}

.nav_link:hover {
    color: var(--secondary-blue);
}

/*llamado de script*/
.show {
    left: 0;
}

/*llamado de script*/
.body-pd {
    padding-left: calc(var(--nav-largo) + 1rem);
}

.height-100 {
    height: 100vh;
    margin-top: 5rem;
    border-radius: 1rem ;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-ancho) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-largo) + 2rem);
    }

    .header {
        height: calc(var(--header-ancho) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-largo) + 2rem);
    }

    .header_img {
        width: 50px;
        height: auto;
    }

    .header_img img {
        width: 55px;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;

    }

    .show {
        width: calc(var(--nav-largo) + 156px);
        background-size: 100% calc(var(--header-ancho) + 50rem);
        background-position-x: 0px;
    }

    .body-pd {
        padding-left: calc(var(--nav-largo) + 188px);
    }

}

@media (max-width: 765px) {
  #img-mayor {
    display: none !important;
  }
  #img-menor{
    display:  block !important;
  }

  .show{
    background-size: 170% calc(var(--header-ancho) + 23rem);
  }


}

.invisibilidad{
    display: none !important;
}

